{{ define "main" }}
<div class="container-fluid myphoto-section bg-myphoto-dark" id="about">
    <div class="container">
        <div class="row">
            <h3>About</h3>
            <div class="card bg-myphoto-light">
                <div class="card bg-myphoto-light">
                    <div class="card-block">
                        <p>The style of photography will be customised to your personal preference, as if being shot from your own eyes. You will be part of every step of the photography process, to ensure these photos feel like your own.</p>
                        <p>Our excellent photographers have many years of experience, capturing moments from weddings to sporting events of absolute quality.</p>
                        <p>MyPhoto also provides superb printing options of all shapes and sizes, on any canvas, in any form. From large canvas prints to personalised photo albums, MyPhoto provides it all.</p>
                        <p>MyPhoto provides a full, holistic solution for all your photography needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}