<div class="container">
    <!-- page title -->
    <div class="row m-t-3">
        <div class="col-md-12">
          <h1>Contact</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium expedita voluptate fuga ducimus voluptates dicta, itaque odio omnis suscipit nam vero saepe numquam laborum accusamus aperiam quia voluptatum natus quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quasi pariatur explicabo, beatae ullam autem commodi voluptatibus cum, minus doloremque debitis. Placeat aliquid maiores voluptatibus velit maxime debitis adipisci harum.</p>
        </div>
    </div>
    <!-- mailing list -->
    {{ partial "blog/mailing-list.html" . }}
</div>