<div class="container">
    <!-- page title -->
    <div class="row m-t-3">
        <div class="col-md-12">
            <h1>Blog</h1>
        </div>
    </div>
    <!-- page body -->
    <div class="row m-t-3">
        <div class="col-md-8">
            <!-- blog posts -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi distinctio odio quae eos dolore eligendi enim fuga possimus et maiores natus exercitationem, obcaecati ea aspernatur beatae sunt velit optio. Similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque obcaecati enim repellendus quas quia vitae! Tenetur tempore iste voluptatum doloribus at aliquid facilis. Enim alias veritatis, minus voluptate consequuntur mollitia!</p>
        </div>
        <div class="col-md-4 d-none d-md-block">
            <!-- sidebar -->
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel minima tempora commodi sed dolor nobis, sit reiciendis, vero adipisci, consectetur alias. Ullam facilis laborum saepe cumque modi tempora, doloribus dolor. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus ullam culpa vitae, ut maxime facilis quibusdam, sequi ad sed assumenda voluptate! Possimus consequatur reprehenderit in earum eius assumenda est quibusdam.</p>
        </div>
    </div>
    <!-- mailing list -->
    {{ partial "blog/mailing-list.html" . }}
</div>