<div class="row m-t-3">
    <div class="col-md-12">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptate dignissimos vitae porro, nulla non ut facere quo, veritatis dolorem excepturi sed. Odio esse, beatae et incidunt dolorem earum illo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, consectetur! Eveniet laboriosam dicta, consectetur ullam cum adipisci incidunt commodi, perspiciatis praesentium accusantium fugit vel accusamus. Perferendis saepe nemo fugit ipsum.
        </p>
    </div>
</div>