<div class="container">
    <!-- page title -->
    <div class="row m-t-2 m-b-2">
        <div class="col-md-12">
            <h1>Post Title</h1>
        </div>
    </div>
    <!-- feature -->
    <div class="row">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolor sapiente, amet voluptas neque quae optio rem tempora ad architecto qui eaque, quasi voluptatem doloribus aliquid natus labore eveniet quia. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quos, laborum sint numquam id in ipsum tempora, exercitationem consequuntur aut eos, maiores aperiam ut facilis quaerat ullam et. Modi, cumque.
            </p>
        </div>
    </div>
    <!-- page body -->
    <div class="row m-t-2">
        <div class="col-md-8">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam minus sint quidem sequi fugit, aliquid impedit, excepturi dolor laborum cupiditate animi itaque eos facilis, esse blanditiis aperiam iste atque ab? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quos cumque, a debitis itaque provident fugit nesciunt repudiandae ut minima, reprehenderit ducimus, officiis modi voluptas laboriosam deleniti rerum consequuntur dolore.</p>
        </div>
        <!-- sidebar -->
        <div class="col-md-4 d-none d-md-block">
            <p>sidebar</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis officiis numquam sunt delectus aliquid quod reiciendis ex, debitis architecto eveniet eaque? Laudantium pariatur, nisi sunt animi assumenda nulla consectetur atque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus iste odio, quibusdam quas harum iusto consectetur reiciendis enim cumque voluptas! Laboriosam dolor perferendis itaque eum. Sed harum excepturi quidem necessitatibus!
            </p>
        </div>
    </div>
    {{ partial "blog/mailing-list.html" . }}
</div>